body{
    font-family: 'Lato', sans-serif;
    background-color: var(--my-yellowclaro);
}

::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-track{
    background: var(--my-yellowclaro);
}

::-webkit-scrollbar-thumb{
    background: var(--my-coloryellow);
    border: 4px solid var(--my-yellowoscuro);
    border-radius: 8px;
}
